@media screen and (min-width:320px) and (max-width:570px)
{
     .nav
     {
        display: none !important;
     }
     .location
     {
      display: none;
     }
     .all
     {
      display: none;
     }
    .input input
    {
      display: none;
    }
    .search-icon span 
    {
      display: none !important;
    }
    .flag
    {
      display: none;
    }
    .hello
    {
      display: none !important;
    }
    .return
    {
      display: none;
    }
nav
{
   display: flex;
   justify-content: space-around;
}
     .app{
        flex-direction: column;
     }
     /* .background
     {
        width: unset !important;
        height: unset;
        font-size: 55px !important;
     } */
     .lessthen
     {
      top: 80px !important;
      font-size: 19px;
     }
     .graterthen
     {
      top: 80px !important;
      font-size: 19px;
     }
     .offer
     {
      flex-direction: column;
      /* top: 50px !important; */
      position: unset !important;
     }
     .mainbox {
      width: 90% !important;
      height: 95vh !important;
      padding: unset;
      margin-bottom: 25px;
     }
     .mainbox h3
     {
      margin-top: 76px !important;
     }
     .today-flex
     {
      flex-direction: column;
     }
     .discount{
      height: 275px !important;
      width: 60% !important;
      margin-bottom: 15px;
      padding: 22px !important;
     }
     .today
     {
      height: auto !important ;
      margin-top: unset !important;
     }
     .today h3 
     {
      margin: 10px 0px 0px 126px !important;
     }
     .maindecor
     {
      flex-direction: column;
      padding: 15px;
     }
     .decor
     {
      width: 88% !important;
      height: auto !important;
     }
     .floor
     {
      width: unset !important;
      height: unset !important;
     }
     .third {
      width: 48% !important;
  }
  .box
  {
    width: 100%;
  }

}